{
    "extends": ["airbnb", "plugin:react-hooks/recommended"],
    "rules": {
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "no-shadow": 0,
        "no-console": ["error", { "allow": ["warn"] }],
        "no-param-reassign": ["error", { "props": false }],
        "max-len": ["error", { "code": 150 }],
        "react/function-component-definition": [
            "error",
            {
              "namedComponents": ["function-declaration", "arrow-function"],
              "unnamedComponents": "arrow-function"
            }
          ]      
    },
    "env": {
        "browser": true,
        "jest": true
    }
}