.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

#app {
  height: 100vh;
}

.Search {
  height:100%;
  display: flex;
  flex-flow: column;
}

.SearchList {
  height: auto;
  overflow-y: auto;
  flex: 1 1 auto;
}

.Loading-spinner {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ecocounter-popup {
  width: 430px;
}

.rental-cars-popup {
  width: 390px;
}

.ecocounter-popup > .leaflet-popup-content-wrapper {
  border-radius: 5px;
  margin-bottom: 5px;
  border: 2px solid gray;
}

.ecocounter-popup > .leaflet-popup-content-wrapper > .leaflet-popup-content {
  width: 390px !important;
}

.rental-cars-popup > .leaflet-popup-content-wrapper > .leaflet-popup-content {
  width: 380px !important;
}

.culture-route-unit-popup {
  width: 400px;
}

.culture-route-unit-popup > .leaflet-popup-content-wrapper > .leaflet-popup-content {
  width: 400px !important;
}

.disabled-parking-popup > .leaflet-popup-content-wrapper > .leaflet-popup-content {
  width: 325px !important;
}

@media (min-width: 750px) {
  .popup-w350 > .leaflet-popup-content-wrapper > .leaflet-popup-content {
    width: 350px !important;
  }
}

@media (max-width: 750px) {
  .rental-cars-popup {
    width: 375px;
  }

  .rental-cars-popup > .leaflet-popup-content-wrapper > .leaflet-popup-content {
    width: 365px !important;
  }

  .ecocounter-popup {
    width: 380px;
  }

  .ecocounter-popup > .leaflet-popup-content-wrapper > .leaflet-popup-content {
    width: 370px !important;
  }

  .culture-route-unit-popup {
    width: 380px;
  }
  
  .culture-route-unit-popup > .leaflet-popup-content-wrapper > .leaflet-popup-content {
    width: 380px !important;
  }
}

@media (max-width: 380px) {
  .rental-cars-popup {
    width: 345px;
  }

  .rental-cars-popup > .leaflet-popup-content-wrapper > .leaflet-popup-content {
    width: 335px !important;
  }

  .ecocounter-popup {
    width: 355px;
  }

  .ecocounter-popup > .leaflet-popup-content-wrapper > .leaflet-popup-content {
    width: 350px !important;
  }

  .culture-route-unit-popup {
    width: 350px;
  }
  
  .culture-route-unit-popup > .leaflet-popup-content-wrapper > .leaflet-popup-content {
    width: 350px !important;
  }
}

/* React Datepicker */
@import '../node_modules/react-datepicker/dist/react-datepicker.css';
@import '../node_modules/react-datepicker/dist/react-datepicker-cssmodules.css';

@keyframes spin-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}